html{
    background-color: rgb(19, 95, 13);
}

h2{
    text-align: center;
    font-size: 5vw;
}

.flexi{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
.cards{
    width: 11,5vw;
    height: 18vw;
}

#pair{
    text-align: center;
    color: rgb(219, 23, 23);
    font-size: 7vw;
}