*{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(134, 156, 133);
}

h2{
    text-align: center;
    font-size: 4vw;
    margin: 6vw;
}

.flexi{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 8vw;
}
.cards{
    width: 11vw;
    height: 17vw;
}

#whatsOnHand{
    text-align: center;
    color: rgb(144, 115, 115);
    font-size: 4vw;
}

button{
    height: 5vw;
    width: 10vw;
}
#play{
   text-align: center;
}