*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(./Cards/table.jpg);
    background-repeat: no-repeat;
    background-position: -160px 0px;
}

h1{
    display: none;
}

h2{
    text-align: center;
    font-size: 5vw;
    margin: 0.5vw;
    font-weight: 900;
    color: #8c7f4a;
    letter-spacing: 1vw;
    font-family: 'Indie Flower', cursive;
}

.flexi{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.flexiMenu{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.cards{
    width: 9vw;
    height: 14vw;
    padding: 1vw;
    border-radius: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: 0px 0px 10px 5px #80808075;
}

.riskyCards{
    width: 9vw;
    height: 14vw;
    margin: 1vw -10px;

}

.whatsOnHand{
    text-align: center;
    font-size: 4vw;
}

.whatsOnHandValue{
    text-align: center;
    font-size: 2vw;
}

.playButtons{
    border-radius: 1vw;
    min-height: 3vw;
    min-width: 10vw;
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
    background-color: #aaaaaa00;
}

.betButtons{
    border-radius: 1vw;
    min-height: 4vw;
    min-width: 10vw;
    font-size: 1.5vw;
    font-weight: 500;
    color: #7d0000;
    background-color: #aaaaaa00;
}

.playButtons:focus, .betButtons:focus{
    outline: 0;
    transform: scale(1.05);
}

.playButtons:hover, .betButtons:hover{
    transform: scale(1.05);
}

.play{
   text-align: center;
}

.moneyAndBet{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 3px #808080;
    padding: 0.75vw 0.5vw;
    letter-spacing: 0.3vw;
    font-size: 1.7vw;
    min-width: 10vw;
}

.cardsValue{
    font-size: 1.6vw;
    letter-spacing: 0.2vw;
}

.toBeChanged{
    background-color: red;
    box-shadow: inset 0px 0px 10px 10px grey; 
}

.targetCard:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: 0px solid silver;
    box-shadow: inset 0px 0px 10px 10px grey; 
}

.highlighted{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 2px black;
    border-radius: 10px;
    color: rgb(58, 9, 9);
}

textarea {
    resize: none;
    text-align: center;
    font-size: 4vw;
    background-color: #bf6a6a00;
    border: none;
    box-shadow: inset 0px 0px 20px 5px #42232361;
    border-radius: 20px;
}

@media screen and (max-width: 600px){
    html{
        background-color: black;
        background-image: none;
    }

    h1{
        display: block;
        color: white;
        transform: rotate(270deg);
        margin-top: 230px;
    }

    content{
        display: none;
    }
}